.login-form-card {
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bottom-label {
    margin-top: 0px;
    font-size: 14px;
}